@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/PT_Sans.ttf");
}

@font-face {
	font-family: "PT_Sans_Narrow";
	src: url("../fonts/PT_Sans_Narrow.ttf");
}

html, body{
	padding: 0;
	margin: 0;
	background: #efefde;
}

.content {
	padding: 64px 0;
}

#about, #contact {
	background: rgba(0,0,0,.05);
}

/*************************************************
					TÍTULOS
*************************************************/

h1.swd-title, h2.swd-title {
	margin: 0;
	padding-bottom: 42px;
	color: #565656;
	font-family: "PT_Sans_Narrow";
}

h2.swd-title {
	padding-bottom: 16px;
	font-size: 24px;
}

h1.swd-title > strong, h2.swd-title > strong {
	font-weight: normal;
	color: #55928f;
}

/*************************************************
				TOPO - Menu e Logo
*************************************************/
.navbar {
	min-height: 80px;
	background: #5d5393;
	border:none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
	margin:0;
	font-family: "PT_Sans_Narrow";
	font-size: 18px;
}

.navbar-brand {
	padding: 16px;
	height: inherit;
}

.navbar-nav {
	padding-right: 16px;
}

.navbar-nav > li > a,
.navbar-nav > li > a:visited,
.navbar-nav > li > a:link, 
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {	
	color: #efefde !important;
	padding: 30px 16px;
	transition: background-color 0.3s, color 0.3s;
}

.navbar-nav > li > a:hover {
	background-color: rgba(0,0,0,.1) !important;
	color:#6fbcb7 !important;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle {
	background: transparent;
	border-radius: 0;
	border: none;
	padding:0;
	margin: 25px 16px;
}

.navbar-default .navbar-toggle .icon-bar{
	height: 4px;
	width: 32px;
	background: #efefde;
	border-radius: 2px;
	margin-bottom:6px;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
	border:none;
}

/*************************************************
BANNER - Div com logo, slogan e links para stores. 
				Div com vídeo
*************************************************/

.banner {
	width: 100%;
	height: 100vh;
	padding-top: 80px;
	background: url('../img/banner_background.jpg') no-repeat center center scroll;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
}

.banner > .container-fluid > .row > .col-md-4:last-child{
	position: relative;	
}

.banner-content {
	margin-top: 30%;
	width: 100%;
}

.banner-content > img {
	display: block;
	margin: 0 auto;
}

.banner-content h1 {
	color: #efefde;
	font-family: "PT_Sans_Narrow";
	padding: 24px 0 32px 0;
	font-size: 44px;
}

.banner-content > .row > div.col-xs-6:first-child > a > img {
	float: right;
}

.banner-content > .row > div.col-xs-6:last-child > a > img {
	float: left;
}

.banner-video {
	width: 100%;
	height: 100%;
	position:relative;
}

.banner-video-inner {
	width: 410px;
	height: 801px;
	display: block;
	position: absolute;
	top: 20px;
	background: url("../img/banner_video.png") no-repeat center center;
}

.banner-video-box {
	margin: 0 10%;
	left: 1px;
	top: 30%;
}

/*************************************************
				O QUE É O SOCIAWED?
*************************************************/

.what-box > p {
	font-size: 16px;
	line-height: 24px;
}

/*************************************************
				NOSSAS VANTAGENS
*************************************************/

.about-box {
	margin-bottom: 60px;
	position: relative;
}

.about-box:first-child .about-innerBox {
	position: relative;
	top:0;
	right: -72px;
}

.about-box:nth-child(2) .about-innerBox {
	position: relative;
	top:0;
	right:0;
}

.about-box:last-child .about-innerBox {
	position: relative;
	top:0;
	right: 72px;
}

.about-box:last-child{
	margin:0;
}

.about-box .about-innerBox h3{
	color: #54928f;
	font-size: 24px;
	font-family: "PT_Sans_Narrow";
	margin:0;
	padding-bottom: 8px;
}

.about-box .about-innerBox p {
	font-size: 14px;
	font-family: "PT_Sans";
	color: #595959;
	line-height: 22px;
	margin:0;
}

.about-box .about-innerBox span {
	width: 60px;
	height: 60px;
	display: block;
}

.about-col-left {
	position: relative;
}

.about-col-left > .about-box > .about-innerBox > h3, .about-col-left > .about-box > .about-innerBox > p {
	margin-right: 76px;
}

.about-col-right > .about-box > .about-innerBox > h3, .about-col-right > .about-box > .about-innerBox > p {
	margin-left: 76px;
}

.about-col-left > .about-box:first-child > .about-innerBox > span {
	background: url("../img/about-amigos.png") no-repeat center center #5d5393;
}

.about-col-left > .about-box:nth-child(2) > .about-innerBox > span {
	background: url("../img/about-momentos.png") no-repeat center center #5d5393;
}

.about-col-left > .about-box:last-child > .about-innerBox > span {
	background: url("../img/about-livro.png") no-repeat center center #5d5393;
}

.about-col-right > .about-box:first-child > .about-innerBox > span {
	background: url("../img/about-celebre.png") no-repeat center center #5d5393;	
}

.about-col-right > .about-box:nth-child(4) > .about-innerBox > span {
	background: url("../img/about-presente.png") no-repeat center center #5d5393;	
}

.about-col-right > .about-box:last-child > .about-innerBox > span {
	background: url("../img/about-eventos.png") no-repeat center center #5d5393;	
}

.about-sliderBox  {
	position:relative;
}

.about-sliderBox > img {
	position: absolute;
	display: block;
	top: 0;
	left:0;
	z-index: 99;
}

.carousel {
	position: absolute;
	z-index: 999;
	top: 40px;
	left: 21px;
}

.carousel-control.left, .carousel-control.right  {
	background: none;
	color: #5D5393;
}

.carousel-indicators {
	/*bottom:0;*/	
	left: 30%;
	-webkit-transform: rotate(15deg);
}

.carousel-indicators li {
	background: rgba(0,0,0,0.3);
	border:none;
}

.carousel-indicators li.active {
	border:none;
	background: #3f366d;
}

/*************************************************
				  COMO PARTICIPAR?
*************************************************/

.howTo-box > img {
	margin-bottom: 24px;
}

.howTo-box > p, .what-box > p {
	font-family: "PT_Sans";
	color: #565656;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding: 0 16px;
}

/*************************************************
					 CONTATO
*************************************************/

.contact-illus img {
	margin-top: 40px;
}

.contact-content {
	background: #F6F6EE;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 24px 16px;
}

.contact-content form {
	margin:0;
}

.contact-content form input[type="text"], .contact-content form textarea{
	height: 42px;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	border:none;
	border-bottom: 2px solid #73bdb8;
	padding-left:0;
	padding-right: 0;
	resize: none;
	margin-bottom: 16px;
	transition: border-bottom-color 0.3s;
	font-family: "PT_Sans";
	color: #595959;
	font-size: 14px;
}

.contact-content form textarea {
	height: 136px;
}

.contact-content form input[type="text"]:focus, .contact-content form textarea:focus {
	border-bottom-color: #5d5393;
	outline: none;
	box-shadow: none;
}

.contact-content form input[type="submit"] {
	background: none;
	border:none;
	padding: 0 16px;
	height: 42px;
	border-radius: 2px;
	color: #73bdb8;
	text-transform: uppercase;
	font-family: "PT_Sans";
	font-size: 16px;
	transition: background-color 0.3s, box-shadow 0.3s;
	color: #F6F6EE;
	background-color: #73bdb8;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.contact-content form input[type="submit"]:hover, .contact-content form input[type="submit"]:focus {
	background-color: #5d5393;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.16),0 5px 13px 0 rgba(0,0,0,0.12);
	outline: none;
}

/*************************************************
					  RODAPÉ
*************************************************/

.footer-top {
	background: #5d5393;
	width: 100%;
	padding: 24px 0;
}

.footer-bottom {
	background: #51468d;
	width: 100%;
	padding: 16px 0;
}

.footer-nav ul, .footer-social ul {
	list-style: none;
	font-size: 0;
	margin:0;
	padding:0;
}

.footer-nav ul li, .footer-social ul li {
	display: inline-block;
	font-size: 18px;
}

.footer-nav, .footer-social {
	margin:0 8px;
}

.footer-nav ul li a, .footer-nav ul li a:visited, .footer-nav ul li a:link, .footer-nav ul li a:focus,
.footer-nav ul li a:active {
	font-size: 16px;
	color: #efefde;
	text-decoration: none;
	font-family: "PT_Sans_Narrow";
	padding: 8px;
	line-height: 32px;
	border-radius: 2px;
	display: block;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.footer-nav ul li a:hover {
	background-color: rgba(0,0,0,.1) !important;
	color:#6fbcb7 !important;	
}

.footer-social ul li a {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 8px;
	border-radius: 42px;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2); 
	text-indent: -9999px;
	transition: background-color 0.2s, box-shadow 0.2s;
}

.footer-social ul li a.footer_face {
	background: url("../img/footer_face.png") no-repeat center center #73bdb8;
}

.footer-social ul li a.footer_twitter {
	background: url("../img/footer_twitter.png") no-repeat center center #73bdb8;
}

.footer-social ul li a.footer_insta {
	background: url("../img/footer_insta.png") no-repeat center center #73bdb8;
}

.footer-social ul li a:hover {
	background-color: #dab6ca;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.footer-copy, .footer-viitra {
	margin: 0 16px;
	font-family: "PT_Sans_Narrow";
	font-size: 14px;
	color: #efefde;
}


.footer-copy address {
	margin:0;
	line-height: 34px;
}

.footer-viitra ul {
	list-style: none;
}

.footer-viitra ul li {
	float: left;
}

.footer-viitra ul li p {
	margin:0;
	line-height: 34px;
}

.footer-viitra ul li a {
	display: block;
	margin-left: 12px;
}

/*************************************************
		  MEDIA QUERIES - Responsividade
*************************************************/

@media screen and (max-width: 992px){

	.howTo-box > img {
		margin:0 auto;
		margin-bottom: 24px;
		width: 100%;
	}

	.howTo-content .col-md-4 .howTo-box {
		margin: 0 -10px;
		margin-bottom: 60px;
	}

	.about-sliderContent {
		display: none;
	}

	.about-box:first-child .about-innerBox {
		right:0;
		position: static;
	}

	.about-box:last-child .about-innerBox {
		right: 0;
		position: static;
	}

	.about-innerBox > span.about-img {
		float: none !important;
		margin: 0 auto;
		margin-bottom: 16px;
	}

	.about-col-left > .about-box > .about-innerBox > h3, .about-col-left > .about-box > .about-innerBox > p,
	.about-col-right > .about-box > .about-innerBox > h3, .about-col-right > .about-box > .about-innerBox > p {
		margin:0;
		text-align: center !important;
	}	

	.banner {
		height: inherit;
	}

	.banner > .container-fluid > .row > .col-md-4:first-child {
		height: 100vh;
		margin-top: -80px;
	}

	.banner-content{
		margin-top: 0;
		padding-top: 20%;
		box-sizing: border-box;
	}

}

@media screen and (min-width: 768px) and (max-width: 992px){

	.banner-video {
		height: inherit;
		padding-top: 60px;
	}

	.banner-video-inner {
		margin:0 auto;
		position: static;
		bottom: inherit;
		margin-bottom: -120px;
	}
}

@media screen and (max-width: 767px){
	.contact-illus {
		display: none;
	}

	.about-col-left > .about-box:last-child {
		margin-bottom: 60px;
	}

	.howTo-content .col-sm-4:last-child .howTo-box {
		margin-bottom:0;
	}

	.footer-nav, .footer-social {
		float: none !important;
	}

	.footer-nav > ul, .footer-social > ul {
		text-align: center;
		margin-bottom: 24px;
	}

	.navbar-nav{
		padding: 16px 0;
		margin:0;
	}

	.navbar-nav > li > a,
	.navbar-nav > li > a:visited,
	.navbar-nav > li > a:link, 
	.navbar-nav > li > a:active,
	.navbar-nav > li > a:focus {
		padding: 20px 16px;
		text-align: center;
	}

	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		background: #625899;
	}

	.navbar-collapse {
		padding: 0;
	}

	.banner-content{
		padding-top: 40%;
	}

	.banner-video {
		height: inherit;
		padding: 60px 0 72px 0;
	}

	.banner-video-inner {
		width: inherit;
		height: inherit;
		display: block;
		position: inherit;
		top: inherit;
		background: none;
	}

	.banner-video-box {
		margin: 0;
	}

	.about-box-mobile {
		display: block !important;
		margin-bottom: 60px;
	}

	.about-box-mobile > img {
		margin: 0 auto;
		max-width: 75%;
	}
}